{
  "openapi": "3.0.3",
  "info": {
    "title": "BananaStudio API Hub",
    "version": "2.1.0",
    "description": "Unified API Hub integrating Comet API (LLM models) and FAL Platform (creative models). Rolled back to OpenAPI 3.0.3 for Apidog UI compatibility.",
    "contact": {
      "name": "BananaStudio API Team",
      "url": "https://bananastudio.ai",
      "email": "support@bananastudio.ai"
    },
    "x-logo": {
      "url": "https://assets.apidog.com/app/project-icon/custom/20250904/a26c0ab6-5c12-4516-b21d-805e7588bbbe.png"
    }
  },
  "tags": [
    { "name": "COMET_API", "description": "Comet API - LLM model listing" },
    { "name": "FAL_API", "description": "FAL Platform - creative model & pricing endpoints" },
    { "name": "BananaStudio_Internal", "description": "Internal services (health, status)" },
    { "name": "Utilities", "description": "Utility endpoints (reserved)" }
  ],
  "paths": {
    "/comet/models": {
      "get": {
        "summary": "List Comet LLM Models",
        "description": "Retrieve list of available LLM models from Comet API gateway (e.g. GPT-4, Claude, Gemini, DeepSeek, Llama).",
        "operationId": "listCometModels",
        "tags": ["COMET_API"],
        "servers": [ { "url": "https://api.cometapi.com/v1" } ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Comet LLM model list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CometModelsResponse" },
                "examples": {
                  "sample": {
                    "summary": "Example Comet model list",
                    "value": {
                      "object": "list",
                      "data": [
                        { "id": "gpt-4o", "object": "model", "created": 1626777600, "owned_by": "openai", "supported_endpoint_types": ["chat","completion"] },
                        { "id": "claude-3-5-sonnet", "object": "model", "created": 1729641600, "owned_by": "anthropic", "supported_endpoint_types": ["chat"] }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "CometAuth": [] } ],
        "x-code-samples": [
          { "lang": "Shell", "label": "cURL", "source": "curl --location 'https://api.cometapi.com/v1/comet/models'\n  --header 'Authorization: Bearer YOUR_COMET_KEY'" }
        ]
      }
    },
    "/fal/models": {
      "get": {
        "summary": "List Available FAL Models",
        "description": "Returns the complete list of available FAL Platform models (approx 866 models) from the gateway.",
        "operationId": "listFalModels",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "cursor", "in": "query", "schema": { "type": "string", "nullable": true }, "required": false },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 500 }, "required": false },
          { "name": "category", "in": "query", "schema": { "type": "string", "enum": ["text-to-image","image-to-image","text-to-video","image-to-video","video-to-video","text-to-audio","text-to-speech","image-to-3d","llm","vision"] }, "required": false }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved FAL creative model list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FalModelsResponse" },
                "examples": {
                  "sample": {
                    "summary": "Example FAL models page",
                    "value": {
                      "models": [
                        { "endpoint_id": "fal-ai/flux-pro/v1.1-ultra", "metadata": { "display_name": "FLUX1.1 [pro] ultra", "category": "text-to-image", "description": "Ultra high quality text-to-image generation", "status": "active", "tags": ["flux","image-generation"] } },
                        { "endpoint_id": "fal-ai/stable-diffusion-v3-medium", "metadata": { "display_name": "Stable Diffusion 3 Medium", "category": "text-to-image", "description": "Balanced quality and speed image generation", "status": "active", "tags": ["stable-diffusion"] } }
                      ],
                      "page": { "has_more": true, "next_cursor": "Mg==", "total_count": 866 }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "unauthorized": { "value": { "error": { "message": "Unauthorized", "type": "authentication_error" } } } } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "forbidden": { "value": { "error": { "message": "Forbidden", "type": "authorization_error" } } } } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "notFound": { "value": { "error": { "message": "Resource not found", "type": "invalid_request_error" } } } } } } }
        },
        "security": [ { "FalAuth": [] } ],
        "x-code-samples": [
          { "lang": "Shell", "label": "cURL", "source": "curl --location 'https://api.fal.ai/v1/fal/models?limit=50'\n  --header 'Authorization: Key YOUR_FAL_KEY'" }
        ]
      }
    },
    "/fal/models/pricing": {
      "get": {
        "summary": "Get FAL Model Pricing",
        "description": "Retrieve pricing information for FAL Platform models including unit prices and billing units.",
        "operationId": "getFalModelPricing",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "cursor", "in": "query", "schema": { "type": "string", "nullable": true }, "required": false },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 500 }, "required": false }
        ],
        "responses": {
          "200": { "description": "Pricing list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalPricingResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "unauthorized": { "value": { "error": { "message": "Unauthorized", "type": "authentication_error" } } } } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "forbidden": { "value": { "error": { "message": "Forbidden", "type": "authorization_error" } } } } } } }
        },
        "security": [ { "FalAuth": [] } ]
      }
    },
    "/fal/models/pricing/estimate": {
      "post": {
        "summary": "Estimate FAL Model Cost",
        "description": "Calculate estimated cost for FAL Platform model usage based on expected quantities.",
        "operationId": "estimateFalModelCost",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FalEstimateRequest" },
              "examples": {
                "single": {
                  "summary": "Single endpoint estimate",
                  "value": { "estimate_type": "unit_price", "endpoints": { "fal-ai/flux/dev": { "unit_quantity": 100 } } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Cost estimate", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalEstimateResponse" } } } },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "badRequest": { "value": { "error": { "message": "Invalid estimate payload", "type": "invalid_request_error" } } } } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "unauthorized": { "value": { "error": { "message": "Unauthorized", "type": "authentication_error" } } } } } } }
        },
        "security": [ { "FalAuth": [] } ]
      }
    },
    "/fal/models/usage": {
      "get": {
        "summary": "Get FAL Usage Statistics",
        "description": "Retrieve historical usage statistics for FAL Platform models including request counts and costs.",
        "operationId": "getFalModelUsage",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "start_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "end_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "endpoint_id", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 }, "required": false }
        ],
        "responses": {
          "200": { "description": "Usage stats", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalUsageResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "unauthorized": { "value": { "error": { "message": "Unauthorized", "type": "authentication_error" } } } } } } }
        },
        "security": [ { "FalAuth": [] } ]
      }
    },
    "/fal/models/analytics": {
      "get": {
        "summary": "Get FAL Analytics Dashboard",
        "description": "Retrieve aggregated analytics including performance metrics, success rates, and trends for FAL Platform models.",
        "operationId": "getFalModelAnalytics",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "start_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "end_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "metrics", "in": "query", "schema": { "type": "string" }, "required": false }
        ],
        "responses": {
          "200": { "description": "Analytics data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalAnalyticsResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "examples": { "unauthorized": { "value": { "error": { "message": "Unauthorized", "type": "authentication_error" } } } } } } }
        },
            "/internal/ping": {
              "get": {
                "summary": "Internal Health Ping",
                "description": "Returns service health status and current server timestamp.",
                "operationId": "internalPing",
                "tags": ["BananaStudio_Internal"],
                "responses": {
                  "200": {
                    "description": "Service is healthy",
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PingResponse" }, "examples": { "ok": { "value": { "status": "ok", "timestamp": "2025-11-16T12:00:00Z" } } } } }
                  }
                }
              }
            },
        "security": [ { "FalAuth": [] } ]
      }
    }
  },
  "components": {
    "schemas": {
      "CometModel": {
        "type": "object",
        "required": ["id","object","owned_by"],
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["model"] },
          "created": { "type": "integer", "nullable": true },
          "owned_by": { "type": "string" },
          "supported_endpoint_types": { "type": "array", "items": { "type": "string", "enum": ["chat","completion","embedding","moderation"] } }
        }
      },
      "CometModelsResponse": {
        "type": "object",
        "required": ["object","data"],
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/CometModel" } }
        }
      },
      "FalModel": {
        "type": "object",
        "required": ["endpoint_id"],
        "properties": {
          "endpoint_id": { "type": "string" },
          "metadata": {
            "type": "object",
            "properties": {
              "display_name": { "type": "string" },
              "category": { "type": "string" },
              "description": { "type": "string", "nullable": true },
              "status": { "type": "string" },
              "tags": { "type": "array", "items": { "type": "string" }, "nullable": true }
            },
            "nullable": true
          }
        }
      },
      "FalModelsResponse": {
        "type": "object",
        "required": ["models"],
        "properties": {
          "models": { "type": "array", "items": { "$ref": "#/components/schemas/FalModel" } },
          "has_more": { "type": "boolean", "nullable": true },
          "next_cursor": { "type": "string", "nullable": true },
          "total_count": { "type": "integer", "nullable": true },
          "page": { "$ref": "#/components/schemas/CursorPage", "nullable": true }
        }
      },
      "FalPricingResponse": {
        "type": "object",
        "required": ["prices"],
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["endpoint_id","unit_price","unit","currency"],
              "properties": {
                "endpoint_id": { "type": "string" },
                "unit_price": { "type": "number" },
                "unit": { "type": "string" },
                "currency": { "type": "string" }
              }
            }
          },
          "has_more": { "type": "boolean", "nullable": true },
          "next_cursor": { "type": "string", "nullable": true },
          "page": { "$ref": "#/components/schemas/CursorPage", "nullable": true }
        }
      },
            "CursorPage": {
              "type": "object",
              "required": [],
              "properties": {
                "has_more": { "type": "boolean", "nullable": true },
                "next_cursor": { "type": "string", "nullable": true },
                "total_count": { "type": "integer", "nullable": true }
              }
            },
            "PingResponse": {
              "type": "object",
              "required": ["status","timestamp"],
              "properties": {
                "status": { "type": "string" },
                "timestamp": { "type": "string" }
              }
            },
      "FalEstimateRequest": {
        "type": "object",
        "required": ["estimate_type","endpoints"],
        "properties": {
          "estimate_type": { "type": "string", "enum": ["unit_price"] },
          "endpoints": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": ["unit_quantity"],
              "properties": { "unit_quantity": { "type": "integer" } }
            }
          }
        }
      },
      "FalEstimateResponse": {
        "type": "object",
        "required": ["estimate_type","total_cost","currency"],
        "properties": {
          "estimate_type": { "type": "string" },
          "total_cost": { "type": "number" },
          "currency": { "type": "string" },
          "breakdown": { "type": "object", "additionalProperties": { "type": "number" }, "nullable": true }
        }
      },
      "FalUsageRecord": {
        "type": "object",
        "required": ["endpoint_id","date","requests"],
        "properties": {
          "endpoint_id": { "type": "string" },
          "date": { "type": "string" },
          "requests": { "type": "integer" },
          "total_cost": { "type": "number", "nullable": true },
          "currency": { "type": "string", "nullable": true }
        }
      },
      "FalUsageResponse": {
        "type": "object",
        "required": ["usage"],
        "properties": {
          "usage": { "type": "array", "items": { "$ref": "#/components/schemas/FalUsageRecord" } },
          "total_requests": { "type": "integer", "nullable": true },
          "total_cost": { "type": "number", "nullable": true }
        }
      },
      "FalAnalyticsRecord": {
        "type": "object",
        "required": ["endpoint_id"],
        "properties": {
          "endpoint_id": { "type": "string" },
          "total_requests": { "type": "integer", "nullable": true },
          "success_rate": { "type": "number", "nullable": true },
          "avg_duration_ms": { "type": "number", "nullable": true },
          "p50_duration_ms": { "type": "number", "nullable": true },
          "p95_duration_ms": { "type": "number", "nullable": true },
          "p99_duration_ms": { "type": "number", "nullable": true }
        }
      },
      "FalAnalyticsResponse": {
        "type": "object",
        "required": ["analytics"],
        "properties": {
          "analytics": { "type": "array", "items": { "$ref": "#/components/schemas/FalAnalyticsRecord" } },
          "period": {
            "type": "object",
            "properties": {
              "start": { "type": "string", "nullable": true },
              "end": { "type": "string", "nullable": true }
            },
            "nullable": true
          }
        }
      },
      "UnifiedModelRecord": {
        "type": "object",
        "required": ["provider","model_id"],
        "properties": {
          "provider": { "type": "string", "enum": ["comet","fal"] },
          "model_id": { "type": "string" },
          "display_name": { "type": "string", "nullable": true },
          "category": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "pricing": {
            "type": "object",
            "properties": {
              "unit_price": { "type": "number", "nullable": true },
              "unit": { "type": "string", "nullable": true },
              "currency": { "type": "string", "nullable": true }
            },
            "nullable": true
          },
          "metadata": { "type": "object", "additionalProperties": true, "nullable": true }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message","type"],
            "properties": {
              "message": { "type": "string" },
              "type": { "type": "string" },
              "code": { "type": "string", "nullable": true },
              "param": { "type": "string", "nullable": true }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "CometAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Comet API authentication: Authorization: Bearer {{COMET_API_KEY}}"
      },
      "FalAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "FAL API authentication: Authorization: Key {{FAL_API_KEY}}"
      }
    }
  }
}{
  "openapi": "3.0.3",
  "info": {
    "title": "BananaStudio API Hub",
    "version": "2.1.0",
    "description": "Unified API Hub integrating Comet API (LLM models) and FAL Platform (creative models). Rolled back to OpenAPI 3.0.3 for Apidog UI compatibility.",
    "contact": {
      "name": "BananaStudio API Team",
      "url": "https://bananastudio.ai",
      "email": "support@bananastudio.ai"
    },
    "x-logo": {
      "url": "https://assets.apidog.com/app/project-icon/custom/20250904/a26c0ab6-5c12-4516-b21d-805e7588bbbe.png"
    }
  },
  "tags": [
    { "name": "COMET_API", "description": "Comet API - LLM model listing" },
    { "name": "FAL_API", "description": "FAL Platform - creative model & pricing endpoints" },
    { "name": "BananaStudio_Internal", "description": "Internal services (reserved)" },
    { "name": "Utilities", "description": "Utility endpoints (reserved)" }
  ],
  "paths": {
    "/comet/models": {
      "get": {
        "summary": "List Comet LLM Models",
        "description": "Retrieve list of available LLM models from Comet API gateway (e.g. GPT-4, Claude, Gemini, DeepSeek, Llama).",
        "operationId": "listCometModels",
        "tags": ["COMET_API"],
        "servers": [ { "url": "https://api.cometapi.com/v1" } ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Comet LLM model list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CometModelsResponse" },
                "examples": {
                  "sample": {
                    "summary": "Example Comet model list",
                    "value": {
                      "object": "list",
                      "data": [
                        { "id": "gpt-4o", "object": "model", "created": 1626777600, "owned_by": "openai", "supported_endpoint_types": ["chat","completion"] },
                        { "id": "claude-3-5-sonnet", "object": "model", "created": 1729641600, "owned_by": "anthropic", "supported_endpoint_types": ["chat"] }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "CometAuth": [] } ],
        "x-code-samples": [
          { "lang": "Shell", "label": "cURL", "source": "curl --location 'https://api.cometapi.com/v1/comet/models'\\n  --header 'Authorization: Bearer YOUR_COMET_KEY'" }
        ]
      }
    },
    "/fal/models": {
      "get": {
        "summary": "List Available FAL Models",
        "description": "Returns the complete list of available FAL Platform models (approx 866 models) from the gateway.",
        "operationId": "listFalModels",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "cursor", "in": "query", "schema": { "type": "string", "nullable": true }, "required": false },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 500 }, "required": false },
          { "name": "category", "in": "query", "schema": { "type": "string", "enum": ["text-to-image","image-to-image","text-to-video","image-to-video","video-to-video","text-to-audio","text-to-speech","image-to-3d","llm","vision"] }, "required": false }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved FAL creative model list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FalModelsResponse" },
                "examples": {
                  "sample": {
                    "summary": "Example FAL models page",
                    "value": {
                      "models": [
                        { "endpoint_id": "fal-ai/flux-pro/v1.1-ultra", "metadata": { "display_name": "FLUX1.1 [pro] ultra", "category": "text-to-image", "description": "Ultra high quality text-to-image generation", "status": "active", "tags": ["flux","image-generation"] } },
                        { "endpoint_id": "fal-ai/stable-diffusion-v3-medium", "metadata": { "display_name": "Stable Diffusion 3 Medium", "category": "text-to-image", "description": "Balanced quality and speed image generation", "status": "active", "tags": ["stable-diffusion"] } }
                      ],
                      "has_more": true,
                      "next_cursor": "Mg==",
                      "total_count": 866
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "FalAuth": [] } ],
        "x-code-samples": [
          { "lang": "Shell", "label": "cURL", "source": "curl --location 'https://api.fal.ai/v1/fal/models?limit=50'\\n  --header 'Authorization: Key YOUR_FAL_KEY'" }
        ]
      }
    },
    "/fal/models/pricing": {
      "get": {
        "summary": "Get FAL Model Pricing",
        "description": "Retrieve pricing information for FAL Platform models including unit prices and billing units.",
        "operationId": "getFalModelPricing",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "cursor", "in": "query", "schema": { "type": "string", "nullable": true }, "required": false },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 500 }, "required": false }
        ],
        "responses": {
          "200": { "description": "Pricing list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalPricingResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "FalAuth": [] } ]
      }
    },
    "/fal/models/pricing/estimate": {
      "post": {
        "summary": "Estimate FAL Model Cost",
        "description": "Calculate estimated cost for FAL Platform model usage based on expected quantities.",
        "operationId": "estimateFalModelCost",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FalEstimateRequest" },
              "examples": {
                "single": {
                  "summary": "Single endpoint estimate",
                  "value": { "estimate_type": "unit_price", "endpoints": { "fal-ai/flux/dev": { "unit_quantity": 100 } } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Cost estimate", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalEstimateResponse" } } } },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "FalAuth": [] } ]
      }
    },
    "/fal/models/usage": {
      "get": {
        "summary": "Get FAL Usage Statistics",
        "description": "Retrieve historical usage statistics for FAL Platform models including request counts and costs.",
        "operationId": "getFalModelUsage",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "start_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "end_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "endpoint_id", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 }, "required": false }
        ],
        "responses": {
          "200": { "description": "Usage stats", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalUsageResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "FalAuth": [] } ]
      }
    },
    "/fal/models/analytics": {
      "get": {
        "summary": "Get FAL Analytics Dashboard",
        "description": "Retrieve aggregated analytics including performance metrics, success rates, and trends for FAL Platform models.",
        "operationId": "getFalModelAnalytics",
        "tags": ["FAL_API"],
        "servers": [ { "url": "https://api.fal.ai/v1" } ],
        "parameters": [
          { "name": "start_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "end_date", "in": "query", "schema": { "type": "string" }, "required": false },
          { "name": "metrics", "in": "query", "schema": { "type": "string" }, "required": false }
        ],
        "responses": {
          "200": { "description": "Analytics data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalAnalyticsResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        },
        "security": [ { "FalAuth": [] } ]
      }
    }
  },
  "components": {
    "schemas": {
      "CometModel": {
        "type": "object",
        "required": ["id","object","owned_by"],
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "enum": ["model"] },
          "created": { "type": "integer", "nullable": true },
          "owned_by": { "type": "string" },
          "supported_endpoint_types": { "type": "array", "items": { "type": "string", "enum": ["chat","completion","embedding","moderation"] } }
        }
      },
      "CometModelsResponse": {
        "type": "object",
        "required": ["object","data"],
        "properties": {
          "object": { "type": "string", "enum": ["list"] },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/CometModel" } }
        }
      },
      "FalModel": {
        "type": "object",
        "required": ["endpoint_id"],
        "properties": {
          "endpoint_id": { "type": "string" },
          "metadata": {
            "type": "object",
            "properties": {
              "display_name": { "type": "string" },
              "category": { "type": "string" },
              "description": { "type": "string", "nullable": true },
              "status": { "type": "string" },
              "tags": { "type": "array", "items": { "type": "string" }, "nullable": true }
            },
            "nullable": true
          }
        }
      },
      "FalModelsResponse": {
        "type": "object",
        "required": ["models"],
        "properties": {
          "models": { "type": "array", "items": { "$ref": "#/components/schemas/FalModel" } },
          "has_more": { "type": "boolean", "nullable": true },
          "next_cursor": { "type": "string", "nullable": true },
          "total_count": { "type": "integer", "nullable": true }
        }
      },
      "FalPricingResponse": {
        "type": "object",
        "required": ["prices"],
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["endpoint_id","unit_price","unit","currency"],
              "properties": {
                "endpoint_id": { "type": "string" },
                "unit_price": { "type": "number" },
                "unit": { "type": "string" },
                "currency": { "type": "string" }
              }
            }
          },
          "has_more": { "type": "boolean", "nullable": true },
          "next_cursor": { "type": "string", "nullable": true }
        }
      },
      "FalEstimateRequest": {
        "type": "object",
        "required": ["estimate_type","endpoints"],
        "properties": {
          "estimate_type": { "type": "string", "enum": ["unit_price"] },
          "endpoints": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "required": ["unit_quantity"],
              "properties": { "unit_quantity": { "type": "integer" } }
            }
          }
        }
      },
      "FalEstimateResponse": {
        "type": "object",
        "required": ["estimate_type","total_cost","currency"],
        "properties": {
          "estimate_type": { "type": "string" },
          "total_cost": { "type": "number" },
          "currency": { "type": "string" },
          "breakdown": { "type": "object", "additionalProperties": { "type": "number" }, "nullable": true }
        }
      },
      "FalUsageRecord": {
        "type": "object",
        "required": ["endpoint_id","date","requests"],
        "properties": {
          "endpoint_id": { "type": "string" },
          "date": { "type": "string" },
          "requests": { "type": "integer" },
          "total_cost": { "type": "number", "nullable": true },
          "currency": { "type": "string", "nullable": true }
        }
      },
      "FalUsageResponse": {
        "type": "object",
        "required": ["usage"],
        "properties": {
          "usage": { "type": "array", "items": { "$ref": "#/components/schemas/FalUsageRecord" } },
          "total_requests": { "type": "integer", "nullable": true },
          "total_cost": { "type": "number", "nullable": true }
        }
      },
      "FalAnalyticsRecord": {
        "type": "object",
        "required": ["endpoint_id"],
        "properties": {
          "endpoint_id": { "type": "string" },
          "total_requests": { "type": "integer", "nullable": true },
          "success_rate": { "type": "number", "nullable": true },
          "avg_duration_ms": { "type": "number", "nullable": true },
          "p50_duration_ms": { "type": "number", "nullable": true },
          "p95_duration_ms": { "type": "number", "nullable": true },
          "p99_duration_ms": { "type": "number", "nullable": true }
        }
      },
      "FalAnalyticsResponse": {
        "type": "object",
        "required": ["analytics"],
        "properties": {
          "analytics": { "type": "array", "items": { "$ref": "#/components/schemas/FalAnalyticsRecord" } },
          "period": {
            "type": "object",
            "properties": {
              "start": { "type": "string", "nullable": true },
              "end": { "type": "string", "nullable": true }
            },
            "nullable": true
          }
        }
      },
      "UnifiedModelRecord": {
        "type": "object",
        "required": ["provider","model_id"],
        "properties": {
          "provider": { "type": "string", "enum": ["comet","fal"] },
          "model_id": { "type": "string" },
          "display_name": { "type": "string", "nullable": true },
          "category": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "pricing": {
            "type": "object",
            "properties": {
              "unit_price": { "type": "number", "nullable": true },
              "unit": { "type": "string", "nullable": true },
              "currency": { "type": "string", "nullable": true }
            },
            "nullable": true
          },
          "metadata": { "type": "object", "additionalProperties": true, "nullable": true }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["message","type"],
            "properties": {
              "message": { "type": "string" },
              "type": { "type": "string" },
              "code": { "type": "string", "nullable": true },
              "param": { "type": "string", "nullable": true }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "CometAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Comet API authentication: Authorization: Bearer {{COMET_API_KEY}}"
      },
      "FalAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "FAL API authentication: Authorization: Key {{FAL_API_KEY}}"
      }
    }
  }
}{
  "openapi": "3.0.3",
  "info": {
    "title": "BananaStudio API Hub",
    "description": "Unified API Hub integrating Comet API (568 LLMs) and FAL Platform (866 creative models) with 1,434 total models for AI-powered creative workflows",
    "version": "2.0.0",
    "contact": {
      "name": "BananaStudio API Team",
      "url": "https://bananastudio.ai",
      "email": "support@bananastudio.ai"
    },
    "x-logo": {
      "url": "https://assets.apidog.com/app/project-icon/custom/20250904/a26c0ab6-5c12-4516-b21d-805e7588bbbe.png"
    }
  },
  "servers": [
    {
      "url": "https://api.cometapi.com/v1",
      "description": "Comet API - LLM Gateway (568 models)",
      "x-apidog-server-id": "comet-production"
    },
    {
      "url": "https://api.fal.ai/v1",
      "description": "FAL Platform - Creative AI (866 models)",
      {
        "openapi": "3.0.3",
        "info": {
          "title": "BananaStudio API Hub",
          "description": "Unified API Hub integrating Comet API (LLM models) and FAL Platform (creative models). Rolled back to OpenAPI 3.0.3 for Apidog UI compatibility.",
          "version": "2.1.0",
          "contact": { "name": "BananaStudio API Team", "url": "https://bananastudio.ai", "email": "support@bananastudio.ai" }
        },
        "servers": [
          { "url": "https://api.cometapi.com/v1" },
          {
            "openapi": "3.0.3",
            "info": {
              "title": "BananaStudio API Hub",
              "description": "Unified API Hub integrating Comet API (LLM models) and FAL Platform (creative models). Rolled back to OpenAPI 3.0.3 for Apidog UI compatibility.",
              "version": "2.1.0",
              "contact": { "name": "BananaStudio API Team", "url": "https://bananastudio.ai", "email": "support@bananastudio.ai" }
            },
            "servers": [
              { "url": "https://api.cometapi.com/v1" },
              { "url": "https://api.fal.ai/v1" }
            ],
            "tags": [
              { "name": "COMET_API", "description": "Comet API - LLM model listing" },
              { "name": "FAL_API", "description": "FAL Platform - creative model & pricing endpoints" },
              { "name": "BananaStudio_Internal", "description": "Internal services (reserved)" },
              { "name": "Utilities", "description": "Utility endpoints (reserved)" }
            ],
            "paths": {
              "/comet/models": {
                "get": {
                  "summary": "List Comet LLM Models",
                  "description": "Retrieve list of available LLM models from Comet API gateway (e.g. GPT-4, Claude, Gemini, DeepSeek, Llama).",
                  "operationId": "listCometModels",
                  "tags": ["COMET_API"],
                  "servers": [{ "url": "https://api.cometapi.com/v1" }],
                  "parameters": [],
                  "responses": {
                    "200": {
                      "description": "Successfully retrieved Comet LLM model list",
                      "content": {
                        "application/json": {
                          "schema": { "$ref": "#/components/schemas/CometModelsResponse" },
                          "examples": {
                            "sample": {
                              "summary": "Example Comet model list",
                              "value": {
                                "object": "list",
                                "data": [
                                  { "id": "gpt-4o", "object": "model", "created": 1626777600, "owned_by": "openai", "supported_endpoint_types": ["chat","completion"] },
                                  { "id": "claude-3-5-sonnet", "object": "model", "created": 1729641600, "owned_by": "anthropic", "supported_endpoint_types": ["chat"] }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
                    "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
                    "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
                  },
                  "security": [{ "CometAuth": [] }],
                  "x-code-samples": [
                    { "lang": "Shell", "label": "cURL", "source": "curl --location 'https://api.cometapi.com/v1/comet/models' \\n+--header 'Authorization: Bearer YOUR_COMET_KEY'" }
                  ]
                }
              },
              "/fal/models": {
                "get": {
                  "summary": "List Available FAL Models",
                  "description": "Returns the complete list of available FAL Platform models (approx 866 models) from the gateway.",
                  "operationId": "listFalModels",
                  "tags": ["FAL_API"],
                  "servers": [{ "url": "https://api.fal.ai/v1" }],
                  "parameters": [
                    { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string", "nullable": true } },
                    { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 100 } },
                    { "name": "category", "in": "query", "required": false, "schema": { "type": "string", "enum": ["text-to-image","image-to-image","text-to-video","image-to-video","video-to-video","text-to-audio","text-to-speech","image-to-3d","llm","vision"] } }
                  ],
                  "responses": {
                    "200": {
                      "description": "Successfully retrieved FAL creative model list",
                      "content": {
                        "application/json": {
                          "schema": { "$ref": "#/components/schemas/FalModelsResponse" },
                          "examples": {
                            "sample": {
                              "summary": "Example FAL models page",
                              "value": {
                                "models": [
                                  { "endpoint_id": "fal-ai/flux-pro/v1.1-ultra", "metadata": { "display_name": "FLUX1.1 [pro] ultra", "category": "text-to-image", "description": "Ultra high quality text-to-image generation", "status": "active", "tags": ["flux","image-generation"] } },
                                  { "endpoint_id": "fal-ai/stable-diffusion-v3-medium", "metadata": { "display_name": "Stable Diffusion 3 Medium", "category": "text-to-image", "description": "Balanced quality and speed image generation", "status": "active", "tags": ["stable-diffusion"] } }
                                ],
                                "has_more": true,
                                "next_cursor": "Mg==",
                                "total_count": 866
                              }
                            }
                          }
                        }
                      }
                    },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
                    "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
                    "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
                  },
                  "security": [{ "FalAuth": [] }],
                  "x-code-samples": [
                    { "lang": "Shell", "label": "cURL", "source": "curl --location 'https://api.fal.ai/v1/fal/models?limit=50' \\n+--header 'Authorization: Key YOUR_FAL_KEY'" }
                  ]
                }
              },
              "/fal/models/pricing": {
                "get": {
                  "summary": "Get FAL Model Pricing",
                  "description": "Retrieve pricing information for FAL Platform models including unit prices and billing units",
                  "operationId": "getFalModelPricing",
                  "tags": ["FAL_API"],
                  "servers": [{ "url": "https://api.fal.ai/v1" }],
                  "parameters": [
                    { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string", "nullable": true } },
                    { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 500 } }
                  ],
                  "responses": {
                    "200": { "description": "Pricing list", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalPricingResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
                    "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
                  },
                  "security": [{ "FalAuth": [] }]
                }
              },
              "/fal/models/pricing/estimate": {
                "post": {
                  "summary": "Estimate FAL Model Cost",
                  "description": "Calculate estimated cost for FAL Platform model usage based on expected quantities.",
                  "operationId": "estimateFalModelCost",
                  "tags": ["FAL_API"],
                  "servers": [{ "url": "https://api.fal.ai/v1" }],
                  "requestBody": {
                    "required": true,
                    "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalEstimateRequest" }, "examples": { "single": { "summary": "Single endpoint estimate", "value": { "estimate_type": "unit_price", "endpoints": { "fal-ai/flux/dev": { "unit_quantity": 100 } } } } } } }
                  },
                  "responses": {
                    "200": { "description": "Cost estimate", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalEstimateResponse" } } } },
                    "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
                  },
                  "security": [{ "FalAuth": [] }]
                }
              },
              "/fal/models/usage": {
                "get": {
                  "summary": "Get FAL Usage Statistics",
                  "description": "Retrieve historical usage statistics for FAL Platform models including request counts and costs",
                  "operationId": "getFalModelUsage",
                  "tags": ["FAL_API"],
                  "servers": [{ "url": "https://api.fal.ai/v1" }],
                  "parameters": [
                    { "name": "start_date", "in": "query", "schema": { "type": "string" }, "required": false },
                    { "name": "end_date", "in": "query", "schema": { "type": "string" }, "required": false },
                    { "name": "endpoint_id", "in": "query", "schema": { "type": "string" }, "required": false },
                    { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "minimum": 1, "maximum": 1000 }, "required": false }
                  ],
                  "responses": {
                    "200": { "description": "Usage stats", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalUsageResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
                  },
                  "security": [{ "FalAuth": [] }]
                }
              },
              "/fal/models/analytics": {
                "get": {
                  "summary": "Get FAL Analytics Dashboard",
                  "description": "Retrieve aggregated analytics including performance metrics, success rates, and trends for FAL Platform models",
                  "operationId": "getFalModelAnalytics",
                  "tags": ["FAL_API"],
                  "servers": [{ "url": "https://api.fal.ai/v1" }],
                  "parameters": [
                    { "name": "start_date", "in": "query", "schema": { "type": "string" }, "required": false },
                    { "name": "end_date", "in": "query", "schema": { "type": "string" }, "required": false },
                    { "name": "metrics", "in": "query", "schema": { "type": "string" }, "required": false }
                  ],
                  "responses": {
                    "200": { "description": "Analytics data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/FalAnalyticsResponse" } } } },
                    "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
                  },
                  "security": [{ "FalAuth": [] }]
                }
              }
            },
            "components": {
              "schemas": {
                "CometModel": { "type": "object", "required": ["id","object","owned_by"], "properties": { "id": { "type": "string" }, "object": { "type": "string", "enum": ["model"] }, "created": { "type": "integer", "nullable": true }, "owned_by": { "type": "string" }, "supported_endpoint_types": { "type": "array", "items": { "type": "string", "enum": ["chat","completion","embedding","moderation"] } } } },
                "CometModelsResponse": { "type": "object", "required": ["object","data"], "properties": { "object": { "type": "string", "enum": ["list"] }, "data": { "type": "array", "items": { "$ref": "#/components/schemas/CometModel" } } } },
                "FalModel": { "type": "object", "required": ["endpoint_id"], "properties": { "endpoint_id": { "type": "string" }, "metadata": { "type": "object", "properties": { "display_name": { "type": "string" }, "category": { "type": "string" }, "description": { "type": "string", "nullable": true }, "status": { "type": "string" }, "tags": { "type": "array", "items": { "type": "string" }, "nullable": true } }, "nullable": true } } },
                "FalModelsResponse": { "type": "object", "required": ["models"], "properties": { "models": { "type": "array", "items": { "$ref": "#/components/schemas/FalModel" } }, "has_more": { "type": "boolean", "nullable": true }, "next_cursor": { "type": "string", "nullable": true }, "total_count": { "type": "integer", "nullable": true } } },
                "FalPricingResponse": { "type": "object", "required": ["prices"], "properties": { "prices": { "type": "array", "items": { "type": "object", "required": ["endpoint_id","unit_price","unit","currency"], "properties": { "endpoint_id": { "type": "string" }, "unit_price": { "type": "number" }, "unit": { "type": "string" }, "currency": { "type": "string" } } } }, "has_more": { "type": "boolean", "nullable": true }, "next_cursor": { "type": "string", "nullable": true } } },
                "FalEstimateRequest": { "type": "object", "required": ["estimate_type","endpoints"], "properties": { "estimate_type": { "type": "string", "enum": ["unit_price"] }, "endpoints": { "type": "object", "additionalProperties": { "type": "object", "properties": { "unit_quantity": { "type": "integer" } }, "required": ["unit_quantity"] } } } },
                "FalEstimateResponse": { "type": "object", "required": ["estimate_type","total_cost","currency"], "properties": { "estimate_type": { "type": "string" }, "total_cost": { "type": "number" }, "currency": { "type": "string" }, "breakdown": { "type": "object", "additionalProperties": { "type": "number" }, "nullable": true } } },
                "FalUsageRecord": { "type": "object", "required": ["endpoint_id","date","requests"], "properties": { "endpoint_id": { "type": "string" }, "date": { "type": "string" }, "requests": { "type": "integer" }, "total_cost": { "type": "number", "nullable": true }, "currency": { "type": "string", "nullable": true } } },
                "FalUsageResponse": { "type": "object", "required": ["usage"], "properties": { "usage": { "type": "array", "items": { "$ref": "#/components/schemas/FalUsageRecord" } }, "total_requests": { "type": "integer", "nullable": true }, "total_cost": { "type": "number", "nullable": true } } },
                "FalAnalyticsRecord": { "type": "object", "required": ["endpoint_id"], "properties": { "endpoint_id": { "type": "string" }, "total_requests": { "type": "integer", "nullable": true }, "success_rate": { "type": "number", "nullable": true }, "avg_duration_ms": { "type": "number", "nullable": true }, "p50_duration_ms": { "type": "number", "nullable": true }, "p95_duration_ms": { "type": "number", "nullable": true }, "p99_duration_ms": { "type": "number", "nullable": true } } },
                "FalAnalyticsResponse": { "type": "object", "required": ["analytics"], "properties": { "analytics": { "type": "array", "items": { "$ref": "#/components/schemas/FalAnalyticsRecord" } }, "period": { "type": "object", "properties": { "start": { "type": "string", "nullable": true }, "end": { "type": "string", "nullable": true } }, "nullable": true } } },
                "UnifiedModelRecord": { "type": "object", "required": ["provider","model_id"], "properties": { "provider": { "type": "string", "enum": ["comet","fal"] }, "model_id": { "type": "string" }, "display_name": { "type": "string", "nullable": true }, "category": { "type": "string", "nullable": true }, "description": { "type": "string", "nullable": true }, "pricing": { "type": "object", "properties": { "unit_price": { "type": "number", "nullable": true }, "unit": { "type": "string", "nullable": true }, "currency": { "type": "string", "nullable": true } }, "nullable": true }, "metadata": { "type": "object", "additionalProperties": true, "nullable": true } } },
                "ErrorResponse": { "type": "object", "required": ["error"], "properties": { "error": { "type": "object", "required": ["message","type"], "properties": { "message": { "type": "string" }, "type": { "type": "string" }, "code": { "type": "string", "nullable": true }, "param": { "type": "string", "nullable": true } } } } }
              },
              "securitySchemes": {
                "CometAuth": { "type": "apiKey", "in": "header", "name": "Authorization", "description": "Comet API authentication: Authorization: Bearer {{COMET_API_KEY}}" },
                "FalAuth": { "type": "apiKey", "in": "header", "name": "Authorization", "description": "FAL API authentication: Authorization: Key {{FAL_API_KEY}}" }
              }
            }
          }
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "fetch('https://api.cometapi.com/v1/comet/models', {\n  headers: {\n    'Authorization': 'Bearer YOUR_COMET_KEY'\n  }\n}).then(res => res.json()).then(console.log);"
          }
        ]
      }
    },
    "/fal/models": {
      "get": {
        "summary": "List FAL Creative Models",
        "description": "Retrieve list of 866 available creative AI models from FAL Platform for image generation (FLUX, Stable Diffusion), video generation, audio synthesis, and more",
        "operationId": "listFalModels",
        "tags": [
          "FAL_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform"
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for next page",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Mg=="
            },
            "x-apidog-ignore": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of models per page (default: 100, max: 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100,
              "example": 50
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by model category",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "text-to-image",
                "image-to-image",
                "text-to-video",
                "image-to-video",
                "video-to-video",
                "text-to-audio",
                "text-to-speech",
                "image-to-3d",
                "llm",
                "vision"
              ],
              "example": "text-to-image"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved FAL creative model list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalModelsResponse"
                },
                "examples": {
                  "falModels": {
                    "summary": "FAL Platform - Creative Models",
                    "value": {
                      "models": [
                        {
                          "endpoint_id": "fal-ai/flux-pro/v1.1-ultra",
                          "metadata": {
                            "display_name": "FLUX1.1 [pro] ultra",
                            "category": "text-to-image",
                            "description": "Ultra high quality text-to-image generation",
                            "status": "active",
                            "tags": [
                              "flux",
                              "image-generation",
                              "high-quality"
                            ]
                          }
                        },
                        {
                          "endpoint_id": "fal-ai/stable-diffusion-v3-medium",
                          "metadata": {
                            "display_name": "Stable Diffusion 3 Medium",
                            "category": "text-to-image",
                            "description": "Balanced quality and speed image generation",
                            "status": "active",
                            "tags": [
                              "stable-diffusion",
                              "image-generation"
                            ]
                          }
                        },
                        {
                          "endpoint_id": "fal-ai/minimax/video-01",
                          "metadata": {
                            "display_name": "MiniMax Video-01",
                            "category": "text-to-video",
                            "description": "High-quality video generation from text prompts",
                            "status": "active",
                            "tags": [
                              "video-generation",
                              "minimax"
                            ]
                          }
                        }
                      ],
                      "has_more": true,
                      "next_cursor": "Mg==",
                      "total_count": 866
                    }
                  }
                }
              }
            },
            "x-apidog-orders": [
              "200",
              "400",
              "401",
              "404"
            ]
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "FalAuth": []
          }
        ],
        "x-apidog-orders": [
          "summary",
          "description",
          "parameters",
          "requestBody",
          "responses"
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl --location 'https://api.fal.ai/v1/fal/models?limit=50&category=text-to-image' \\\n--header 'Authorization: Key YOUR_FAL_KEY'"
          },
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "fetch('https://api.fal.ai/v1/fal/models?limit=50', {\n  headers: {\n    'Authorization': 'Key YOUR_FAL_KEY'\n  }\n}).then(res => res.json()).then(console.log);"
          }
        ]
      }
    {
      "openapi": "3.0.3",
      "info": {
        "title": "BananaStudio API Hub",
        "description": "Unified API Hub integrating Comet API (LLM models) and FAL Platform (creative models) for AI-powered workflows. Rolled back to OpenAPI 3.0.3 for Apidog UI compatibility.",
        "version": "2.1.0",
        "contact": {
          "name": "BananaStudio API Team",
          "url": "https://bananastudio.ai",
          "email": "support@bananastudio.ai"
        }
      },
      "tags": [
        { "name": "COMET_API", "description": "Comet API - LLM model listing" },
        { "name": "FAL_API", "description": "FAL Platform - creative model & pricing endpoints" },
        { "name": "BananaStudio_Internal", "description": "Internal services (reserved)" },
        { "name": "Utilities", "description": "Utility endpoints (reserved)" }
      ],
      "paths": {
                    "value": {
                      "prices": [
                        {
            "description": "Retrieve list of available LLM models from Comet API gateway (e.g. GPT-4, Claude, Gemini, DeepSeek, Llama).",
                          "unit_price": 0.025,
                          "unit": "image",
                          "currency": "USD"
                        },
            "servers": [ { "url": "https://api.cometapi.com/v1" } ],
                      ],
                      "has_more": false,
                      "next_cursor": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "FalAuth": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl --location 'https://api.fal.ai/v1/fal/models/pricing' \\\n--header 'Authorization: Key YOUR_FAL_KEY'"
          }
        ],
            "security": [ { "CometAuth": [] } ],
          "responses"
        ]
      }
    },
    "/fal/models/pricing/estimate": {
      "post": {
        "summary": "Estimate FAL Model Cost",
        "description": "Calculate estimated cost for FAL Platform model usage based on expected quantity. Useful for budgeting and cost optimization.",
        "operationId": "estimateFalModelCost",
        "/fal/models": {
          "FAL_API"
            "summary": "List Available FAL Models",
            "description": "Returns the complete list of available FAL Platform models (approx 866 models) from the gateway.",
            "operationId": "listFalModels",
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform"
          }
            "servers": [ { "url": "https://api.fal.ai/v1" } ],
              "schema": {
                "$ref": "#/components/schemas/FalEstimateRequest"
              },
              "examples": {
                "singleModel": {
                  "summary": "Single model estimation",
                  "value": {
                  "type": "string",
                  "nullable": true
                      "fal-ai/flux/dev": {
                        "unit_quantity": 100
                      }
                    }
                  }
                },
                "multipleModels": {
                  "summary": "Multiple models estimation",
                  "value": {
                    "estimate_type": "unit_price",
                    "endpoints": {
                      "fal-ai/flux/dev": {
                        "unit_quantity": 50
                      },
                      "fal-ai/flux-pro": {
                        "unit_quantity": 25
                      },
                      "fal-ai/stable-diffusion-v3": {
                        "unit_quantity": 100
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully calculated cost estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalEstimateResponse"
                },
                "examples": {
                  "estimateResult": {
                    "summary": "Cost estimate result",
                    "value": {
                      "estimate_type": "unit_price",
                      "total_cost": 3.75,
                      "currency": "USD",
                      "breakdown": {
                        "fal-ai/flux/dev": 2.5,
                        "fal-ai/flux-pro": 1.25
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "FalAuth": []
          }
            "security": [ { "FalAuth": [] } ],
            "source": "curl --location 'https://api.fal.ai/v1/fal/models/pricing/estimate' \\\n--header 'Authorization: Key YOUR_FAL_KEY' \\\n--header 'Content-Type: application/json' \\\n--data '{\n  \"estimate_type\": \"unit_price\",\n  \"endpoints\": {\n    \"fal-ai/flux/dev\": {\n      \"unit_quantity\": 100\n    }\n  }\n}'"
          }
        ],
        "x-apidog-orders": [
          "summary",
          "description",
          "parameters",
          "requestBody",
          "responses"
        ]
      }
    },
    "/fal/models/usage": {
      "get": {
        "summary": "Get FAL Usage Statistics",
            "servers": [{ "url": "https://api.fal.ai/v1" }],
        "operationId": "getFalModelUsage",
        "tags": [
          "FAL_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform"
          }
        ],
        "parameters": [
          {
            "security": [{ "FalAuth": [] }]
            "in": "query",
            "description": "Start date for usage period (ISO 8601 format: YYYY-MM-DD)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-11-01"
            }
            "servers": [{ "url": "https://api.fal.ai/v1" }],
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for usage period (ISO 8601 format: YYYY-MM-DD)",
                  "schema": { "$ref": "#/components/schemas/FalEstimateRequest" },
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-11-16"
            }
          },
          {
            "name": "endpoint_id",
            "in": "query",
            "description": "Filter by specific model endpoint",
            "required": false,
            "schema": {
              "type": "string",
              "example": "fal-ai/flux/dev"
            }
          },
          {
            "security": [{ "FalAuth": [] }]
            "in": "query",
            "description": "Maximum number of usage records",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            "servers": [{ "url": "https://api.fal.ai/v1" }],
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalUsageResponse"
                },
            "security": [{ "FalAuth": [] }]
                  "usageExample": {
                    "summary": "Usage statistics",
                    "value": {
                      "usage": [
                        {
                          "endpoint_id": "fal-ai/flux/dev",
                          "date": "2025-11-15",
                          "requests": 150,
            "servers": [{ "url": "https://api.fal.ai/v1" }],
                          "currency": "USD"
                        },
                        {
                          "endpoint_id": "fal-ai/flux-pro",
                          "date": "2025-11-15",
                          "requests": 75,
                          "total_cost": 3.75,
                          "currency": "USD"
                        }
            "security": [{ "FalAuth": [] }]
                      "total_requests": 225,
                      "total_cost": 7.5
                    }
      "components": {
        "schemas": {
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "FalAuth": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl --location 'https://api.fal.ai/v1/fal/models/usage?start_date=2025-11-01&end_date=2025-11-16' \\\n--header 'Authorization: Key YOUR_FAL_KEY'"
          }
        ],
        "x-apidog-orders": [
          "summary",
          "description",
          "parameters",
          "requestBody",
          "responses"
        ]
      }
    },
    "/fal/models/analytics": {
      "get": {
        "summary": "Get FAL Analytics Dashboard",
        "description": "Retrieve aggregated analytics including performance metrics, success rates, and trends for FAL Platform models",
        "operationId": "getFalModelAnalytics",
        "tags": [
          "FAL_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform"
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Analytics period start date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-11-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Analytics period end date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-11-16"
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "Comma-separated list of metrics to include",
            "required": false,
            "schema": {
              "type": "string",
              "example": "success_rate,avg_duration_ms,total_requests"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved analytics data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FalAnalyticsResponse"
                },
                "examples": {
                  "analyticsExample": {
                    "summary": "Analytics dashboard",
                    "value": {
                      "analytics": [
                        {
                          "endpoint_id": "fal-ai/flux/dev",
                          "total_requests": 1000,
                          "success_rate": 0.98,
                          "avg_duration_ms": 2500,
                          "p50_duration_ms": 2200,
                          "p95_duration_ms": 3800,
                          "p99_duration_ms": 5000
                        }
                      ],
                      "period": {
                        "start": "2025-11-01",
                        "end": "2025-11-16"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "security": [
          {
            "FalAuth": []
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl --location 'https://api.fal.ai/v1/fal/models/analytics?start_date=2025-11-01&end_date=2025-11-16' \\\n--header 'Authorization: Key YOUR_FAL_KEY'"
          }
        ],
        "x-apidog-orders": [
          "summary",
          "description",
          "parameters",
          "requestBody",
        "securitySchemes": {
          "CometAuth": { "type": "apiKey", "in": "header", "name": "Authorization", "description": "Comet API authentication: Authorization: Bearer {{COMET_API_KEY}}" },
          "FalAuth": { "type": "apiKey", "in": "header", "name": "Authorization", "description": "FAL API authentication: Authorization: Key {{FAL_API_KEY}}" }
        }
            "type": "string",
            "description": "Unique model identifier",
            "example": "gpt-4o"
          },
          "object": {
            "type": "string",
            "description": "Object type",
            "example": "model",
            "enum": [
              "model"
            ]
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp of model creation",
            "example": 1626777600
          },
          "owned_by": {
            "type": "string",
            "description": "Organization that owns the model",
            "example": "openai"
          },
          "supported_endpoint_types": {
            "type": "array",
            "description": "Types of endpoints this model supports",
            "items": {
              "type": "string",
              "enum": [
                "chat",
                "completion",
                "embedding",
                "moderation"
              ]
            }
          }
        },
        "x-apidog-orders": [
          "id",
          "object",
          "created",
          "owned_by",
          "supported_endpoint_types"
        ]
      },
      "CometModelsResponse": {
        "type": "object",
        "required": [
          "object",
          "data"
        ],
        "properties": {
          "object": {
            "type": "string",
            "example": "list",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CometModel"
            }
          }
        },
        "description": "Response format for Comet API model listing",
        "x-apidog-orders": [
          "object",
          "data"
        ]
      },
      "FalModel": {
        "type": "object",
        "required": [
          "endpoint_id"
        ],
        "properties": {
          "endpoint_id": {
            "type": "string",
            "description": "Unique endpoint identifier",
            "example": "fal-ai/flux-pro/v1.1-ultra"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "display_name": {
                "type": "string",
                "description": "Human-readable model name",
                "example": "FLUX1.1 [pro] ultra"
              },
              "category": {
                "type": "string",
                "description": "Model category/type",
                "enum": [
                  "image-to-image",
                  "image-to-video",
                  "text-to-image",
                  "text-to-video",
                  "video-to-video",
                  "text-to-audio",
                  "vision",
                  "llm",
                  "image-to-3d",
                  "text-to-speech"
                ],
                "example": "text-to-image"
              },
              "description": {
                "type": "string",
                "description": "Model description"
              },
              "status": {
                "type": "string",
                "description": "Model availability status",
                "enum": [
                  "active",
                  "deprecated",
                  "beta",
                  "experimental"
                ],
                "example": "active"
              },
              "tags": {
                "type": "array",
                "description": "Associated tags",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "FAL Platform creative model definition",
        "x-apidog-orders": [
          "endpoint_id",
          "metadata"
        ]
      },
      "FalModelsResponse": {
        "type": "object",
        "required": [
          "models"
        ],
        "properties": {
          "models": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FalModel"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether more models are available"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for next page"
          },
          "total_count": {
            "type": "integer",
            "description": "Total number of models available",
            "example": 866
          }
        },
        "description": "Response format for FAL Platform model listing",
        "x-apidog-orders": [
          "models",
          "has_more",
          "next_cursor",
          "total_count"
        ]
      },
      "FalPricingResponse": {
        "type": "object",
        "required": [
          "prices"
        ],
        "properties": {
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "endpoint_id",
                "unit_price",
                "unit",
                "currency"
              ],
              "properties": {
                "endpoint_id": {
                  "type": "string",
                  "example": "fal-ai/flux/dev"
                },
                "unit_price": {
                  "type": "number",
                  "format": "decimal",
                  "description": "Price per unit",
                  "example": 0.025
                },
                "unit": {
                  "type": "string",
                  "description": "Billing unit",
                  "example": "image"
                },
                "currency": {
                  "type": "string",
                  "description": "Currency code",
                  "example": "USD"
                }
              }
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "next_cursor": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "FAL Platform pricing information",
        "x-apidog-orders": [
          "prices",
          "has_more",
          "next_cursor"
        ]
      },
      "FalEstimateRequest": {
        "type": "object",
        "required": [
          "estimate_type",
          "endpoints"
        ],
        "properties": {
          "estimate_type": {
            "type": "string",
            "description": "Type of cost estimation",
            "enum": [
              "unit_price"
            ],
            "example": "unit_price"
          },
          "endpoints": {
            "type": "object",
            "description": "Map of endpoint IDs to quantities",
            "additionalProperties": {
              "type": "object",
              "required": [
                "unit_quantity"
              ],
              "properties": {
                "unit_quantity": {
                  "type": "integer",
                  "minimum": 1,
                  "description": "Number of units to estimate",
                  "example": 100
                }
              }
            }
          }
        },
        "description": "FAL Platform cost estimation request",
        "x-apidog-orders": [
          "estimate_type",
          "endpoints"
        ]
      },
      "FalEstimateResponse": {
        "type": "object",
        "required": [
          "estimate_type",
          "total_cost",
          "currency"
        ],
        "properties": {
          "estimate_type": {
            "type": "string",
            "example": "unit_price"
          },
          "total_cost": {
            "type": "number",
            "format": "decimal",
            "description": "Total estimated cost",
            "example": 2.5
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "breakdown": {
            "type": "object",
            "description": "Cost breakdown by endpoint",
            "additionalProperties": {
              "type": "number"
            }
          }
        },
        "description": "FAL Platform cost estimation response",
        "x-apidog-orders": [
          "estimate_type",
          "total_cost",
          "currency",
          "breakdown"
        ]
      },
      "FalUsageRecord": {
        "type": "object",
        "required": [
          "endpoint_id",
          "date",
          "requests"
        ],
        "properties": {
          "endpoint_id": {
            "type": "string",
            "example": "fal-ai/flux/dev"
          },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2025-11-15"
          },
          "requests": {
            "type": "integer",
            "description": "Number of requests",
            "example": 150
          },
          "total_cost": {
            "type": "number",
            "format": "decimal",
            "description": "Total cost for the period",
            "example": 3.75
          },
          "currency": {
            "type": "string",
            "example": "USD"
          }
        },
        "description": "FAL Platform usage record for a specific date",
        "x-apidog-orders": [
          "endpoint_id",
          "date",
          "requests",
          "total_cost",
          "currency"
        ]
      },
      "FalUsageResponse": {
        "type": "object",
        "required": [
          "usage"
        ],
        "properties": {
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FalUsageRecord"
            }
          },
          "total_requests": {
            "type": "integer",
            "description": "Total requests across all records"
          },
          "total_cost": {
            "type": "number",
            "format": "decimal",
            "description": "Total cost across all records"
          }
        },
        "description": "FAL Platform usage statistics response",
        "x-apidog-orders": [
          "usage",
          "total_requests",
          "total_cost"
        ]
      },
      "FalAnalyticsRecord": {
        "type": "object",
        "required": [
          "endpoint_id"
        ],
        "properties": {
          "endpoint_id": {
            "type": "string",
            "example": "fal-ai/flux/dev"
          },
          "total_requests": {
            "type": "integer",
            "description": "Total number of requests",
            "example": 1000
          },
          "success_rate": {
            "type": "number",
            "format": "decimal",
            "minimum": 0,
            "maximum": 1,
            "description": "Success rate (0-1)",
            "example": 0.98
          },
          "avg_duration_ms": {
            "type": "number",
            "format": "decimal",
            "description": "Average request duration in milliseconds",
            "example": 2500
          },
          "p50_duration_ms": {
            "type": "number",
            "description": "50th percentile duration"
          },
          "p95_duration_ms": {
            "type": "number",
            "description": "95th percentile duration"
          },
          "p99_duration_ms": {
            "type": "number",
            "description": "99th percentile duration"
          }
        },
        "description": "FAL Platform analytics record for a model",
        "x-apidog-orders": [
          "endpoint_id",
          "total_requests",
          "success_rate",
          "avg_duration_ms",
          "p50_duration_ms",
          "p95_duration_ms",
          "p99_duration_ms"
        ]
      },
      "FalAnalyticsResponse": {
        "type": "object",
        "required": [
          "analytics"
        ],
        "properties": {
          "analytics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FalAnalyticsRecord"
            }
          },
          "period": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "format": "date"
              },
              "end": {
                "type": "string",
                "format": "date"
              }
            }
          }
        },
        "description": "FAL Platform analytics dashboard response",
        "x-apidog-orders": [
          "analytics",
          "period"
        ]
      },
      "UnifiedModelRecord": {
        "type": "object",
        "required": [
          "provider",
          "model_id"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "description": "Model provider",
            "enum": [
              "comet",
              "fal"
            ],
            "example": "fal"
          },
          "model_id": {
            "type": "string",
            "description": "Unique model identifier",
            "example": "fal-ai/flux-pro"
          },
          "display_name": {
            "type": "string",
            "description": "Human-readable name",
            "example": "FLUX Pro"
          },
          "category": {
            "type": "string",
            "description": "Model category",
            "example": "text-to-image"
          },
          "description": {
            "type": "string",
            "description": "Model description"
          },
          "pricing": {
            "type": "object",
            "properties": {
              "unit_price": {
                "type": "number"
              },
              "unit": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional provider-specific metadata"
          }
        },
        "description": "Unified model record for cross-provider aggregation",
        "x-apidog-orders": [
          "provider",
          "model_id",
          "display_name",
          "category",
          "description",
          "pricing",
          "metadata"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "message",
              "type"
            ],
            "properties": {
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "type": {
                "type": "string",
                "description": "Error type identifier"
              },
              "code": {
                "type": "string",
                "description": "HTTP status code"
              },
              "param": {
                "type": "string",
                "description": "Invalid parameter name (if applicable)"
              }
            }
          }
        },
        "description": "Standard error response format",
        "x-apidog-orders": [
          "error"
        ]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request - Invalid or missing parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "invalidParam": {
                "summary": "Invalid parameter",
                "value": {
                  "error": {
                    "message": "Invalid parameter value",
                    "type": "invalid_request_error",
                    "code": "400",
                    "param": "limit"
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "invalidAuth": {
                "summary": "Invalid credentials",
                "value": {
                  "error": {
                    "message": "Invalid authentication credentials",
                    "type": "authentication_error",
                    "code": "401"
                  }
                }
              },
              "missingAuth": {
                "summary": "Missing credentials",
                "value": {
                  "error": {
                    "message": "Missing authentication credentials",
                    "type": "authentication_error",
                    "code": "401"
                  }
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found - Resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "summary": "Resource not found",
                "value": {
                  "error": {
                    "message": "The requested resource was not found",
                    "type": "not_found_error",
                    "code": "404"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "CometAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Comet API authentication using 'Bearer YOUR_API_KEY' format. Obtain your API key from the Comet dashboard at https://cometapi.com",
        "x-apidog-show-in-global-parameter": true
      },
      "FalAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "FAL Platform authentication using 'Key YOUR_API_KEY' format. Get your API key from FAL Platform dashboard at https://fal.ai/dashboard",
        "x-apidog-show-in-global-parameter": true
      }
    }
  },
  "x-apidog-folder": "BananaStudio API Hub",
  "x-apidog-orders": [
    "info",
    "servers",
    "tags",
    "paths",
    "components"
  ],
  "x-apidog-settings": {
    "enableJsonc": false,
    "enableBigint": false,
    "responseValidate": false
  }
}