{
  "openapi": "3.1.0",
  "info": {
    "title": "Default module",
    "description": "",
    "version": "1.0.0",
    "x-download-time": "2025-11-15T20:50:08.896Z"
  },
  "servers": [
    {
      "url": "https://api.cometapi.com/v1",
      "description": "Comet API"
    },
    {
      "url": "https://api.fal.ai/v1",
      "description": "FAL Platform API"
    }
  ],
  "paths": {
    "/models/pricing": {
      "get": {
        "summary": "GET Models Pricing",
        "tags": [
          "FAL_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform API"
          }
        ]
      }
    },
    "/models": {
      "get": {
        "summary": "GET Model search",
        "tags": [
          "FAL_API",
          "COMET_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform API"
          }
        ]
      }
    },
    "/models/pricing/estimate": {
      "post": {
        "summary": "POST Estimated Cost (FAL)",
        "tags": [
          "FAL_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform API"
          }
        ]
      }
    },
    "/models/usage": {
      "get": {
        "summary": "GET Usage (FAL)",
        "tags": [
          "FAL_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform API"
          }
        ]
      }
    },
    "/models/analytics": {
      "get": {
        "summary": "GET Analytics (FAL)",
        "tags": [
          "FAL_API"
        ],
        "servers": [
          {
            "url": "https://api.fal.ai/v1",
            "description": "FAL Platform API"
          }
        ]
      }
    }
  },
  "webhooks": {},
  "components": {
    "schemas": {
      "$ref": "/components/schemas/index.json"
    },
    "securitySchemes": {
      "$ref": "/components/securitySchemes/index.json"
    }
  },
  "security": []
}