{
  "openapi": "3.0.1",
  "info": {
    "title": "FAL AI Models API",
    "description": "Unified API for accessing FAL AI model catalog and pricing",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://api.fal.ai",
      "description": "FAL AI Production API"
    }
  ],
  "tags": [
    {"name": "models"},
    {"name": "pricing"}
  ],
  "paths": {
    "/models": {
      "get": {
        "summary": "List Available Models",
        "operationId": "listModels",
        "tags": ["models"],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endpoint_id": {"type": "string"},
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "display_name": {"type": "string"},
                              "category": {"type": "string"},
                              "description": {"type": "string"},
                              "status": {"type": "string"},
                              "tags": {"type": "array", "items": {"type": "string"}}
                            }
                          }
                        }
                      }
                    },
                    "next_cursor": {"type": "string", "nullable": true},
                    "has_more": {"type": "boolean"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/models/pricing": {
      "get": {
        "summary": "Get Model Pricing",
        "operationId": "getModelsPricing",
        "tags": ["pricing"],
        "responses": {
          "200": {
            "description": "Pricing data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_cursor": {"type": "string", "nullable": true},
                    "has_more": {"type": "boolean"},
                    "prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "endpoint_id": {"type": "string"},
                          "unit_price": {"type": "number"},
                          "unit": {"type": "string"},
                          "currency": {"type": "string"}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    ,
    "/v1/models/pricing/estimate": {
      "post": {
        "summary": "Estimate Model Pricing",
        "operationId": "estimateModelsPricing",
        "tags": ["pricing"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "estimate_type": { "type": "string" },
                  "endpoints": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "unit_quantity": { "type": "number" }
                      },
                      "required": ["unit_quantity"]
                    }
                  }
                },
                "required": ["estimate_type", "endpoints"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimate result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "estimate_type": { "type": "string" },
                    "total_cost": { "type": "number" },
                    "currency": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
