name: push-litellm

on:
  workflow_dispatch:

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set tags
        run: |
          TS="$(date +%Y%m%d%H%M%S)"
          echo "TAG_TS=${TS}" >> "$GITHUB_ENV"
          echo "TAG_LIST=bananastudioai/litellm:amd64-${TS},bananastudioai/litellm:amd64" >> "$GITHUB_ENV"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: Dockerfile.litellm-fix
          platforms: linux/amd64
          push: true
          tags: ${{ env.TAG_LIST }}
